meta(http-equiv="Content-Security-Policy" content="default-src *;   img-src * 'self' data: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' *;   style-src  'self' 'unsafe-inline' *")
block content
 h1= title
 p Welcome to #{title}
 img(src="https://motory.s3.ap-northeast-2.amazonaws.com/brand_img/brand_")
